
*{
    text-align:center;
    background-color: white; 
    
    
}

h1{
    color:gold;
    margin-top:7%;
    margin-bottom: 3%;
}
p{
    text-align:right;
    margin-right:0%;
    direction: rtl;
}
        