/* *{
    background-color: white;
} */
.no-gutters {
    margin-right: 3%;
    margin-left: 3%;
}
.right{
    text-align: right;
}
.mb-3, .my-3 {
    margin-top: 1rem;
}
.title{
    text-align: center;
    margin: 12;
    color:  rgb(188,148,26);
}
.centertext{
    text-align: center;
}
header {
    padding: 5px;
    height: 30;
    background-color: white;
}
.b{
    font-weight: bold;
}
.fsize{
    font-size: 20px;
}
.fs{
    font-size: 48px;
}
.mbb{
    margin-top: 5rem;
}