 *{
    /* background-color: black;*/
    direction: rtl; 
} 
body{
    background-color:white;
    margin: 0 auto;
}
.btn{
    padding: 10px;
}
.flag {
    padding: 1% 0 0 5%;
    color: rgb(188,148,26);
    font-size: 12px;
}

.logo {
    margin: 1% auto;
    text-align: center;
}
.r{
    text-align: right;
}
header{
    /* padding: 5px; */
    /* height: 20%; */
    background-color: rgb(28,28,28);
    position: fixed;
    top: 0;    
    width: 100%;
}
/* .navbar{ */
     /* position: fixed;   
    top:0px;   */
 /* } */
.navbar-light .navbar-nav .nav-link{
     background-color: rgb(28,28,28);
    color: rgb(188,148,26);
    font-weight: bold ;
    
    
}
/* a.nav-link:hover{
    color:red;
} */
/* .center{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom:100px;
    color: white;
    background-color: black;
}
.left{
    margin-top: 50px;
    margin-left:50px;
    text-align: top;
    background-color: black;
} */
.bg-dark{
    /* background-color: goldenrod !important; */
    background-color: rgb(28,28,28)!important;
    /* background-color: rgb(28,28,28)!important; */
    direction: rtl; 
}

/* body{
    background-color: black;

} */
.right{
    margin: 0 auto;
    text-align: right;
}
.frame{
    width: 100%;
}
.font{
    font-size: large;
    color:  rgb(188,148,26);
}
.top{
    background-color: black;
}
.navbar-toggler {
    background-color:rgb(188,148,26);
}
a{
    color: rgb(188,148,26);
}
a:hover{
    color: white;
}
.center_bottom
{
    text-align: center;
    color: rgb(188,148,26);
    font-size: 12px;
}
.abc{
    margin: 1px;
    width: 26px;
}
#sign{
    
    text-align: right;
    color: rgb(188,148,26);
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
footer{
    background-color: rgb(28,28,28);
    bottom: 0;    
    position: fixed;
    width: 100%;
    /* height: 20%; */
    padding: 1% 1% 1% 1%;
}
.g{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
p{
    margin-bottom: 0;
}