
*{
    text-align: center; 
    background-color:white ; 
}
body{
    background-color: white;
    margin-top:150px;
}
h1{
    color:gold;
    text-decoration:underline;
}
div{
    color: rgb(177, 154, 28);
}

.btn{
    padding:25px;
}
.btn-primary{
    color:black;
    background-color:gold;
    border-color:black;
}
.btn-block{
    width: 30%;
    margin: 50px 615px;
}
.btn-warning:hover{
    background-color: gold important !;
}
input{
    size:25px;
}
