/* *{
    direction: rtl;
} */
*[aria-hidden="true"] {
    display: none;    
}
/* iframe{
    border-style: none;
} */
body{
    background-color: #1c1c1c;
}
.searchEngine {
    background-color: rgb(221, 219, 219);
    padding: 3%;
    border-radius: 25px;
    justify-content: center;
}

#serachBtn {
    align-self: flex-end;
    border: solid;
    font-weight: bold;
    width: 150px;;
    color:  rgb(188,148,26);
}
.mbb{
    margin-top: 2rem;
}

@media screen and (max-width: 414px) {
    .form-inline {
        display: block;
    }

    #serachBtn {
        width: 100%;
    }

    label {
        float: right;
    }
}
